tpm2-tss-1.4.0/AUTHORS
tpm2-tss-1.4.0/CHANGELOG.md
tpm2-tss-1.4.0/CONTRIBUTING.md
tpm2-tss-1.4.0/INSTALL
tpm2-tss-1.4.0/LICENSE
tpm2-tss-1.4.0/Makefile
tpm2-tss-1.4.0/Makefile.am
tpm2-tss-1.4.0/Makefile.in
tpm2-tss-1.4.0/README.md
tpm2-tss-1.4.0/RELEASE.md
tpm2-tss-1.4.0/VERSION
tpm2-tss-1.4.0/aclocal.m4
tpm2-tss-1.4.0/autom4te.cache/
tpm2-tss-1.4.0/common/
tpm2-tss-1.4.0/compile
tpm2-tss-1.4.0/config.guess
tpm2-tss-1.4.0/config.log
tpm2-tss-1.4.0/config.status
tpm2-tss-1.4.0/config.sub
tpm2-tss-1.4.0/configure
tpm2-tss-1.4.0/configure.ac
tpm2-tss-1.4.0/debian/.debhelper/
tpm2-tss-1.4.0/debian/autoreconf.after
tpm2-tss-1.4.0/debian/autoreconf.before
tpm2-tss-1.4.0/debian/debhelper-build-stamp
tpm2-tss-1.4.0/debian/files
tpm2-tss-1.4.0/debian/libsapi-dev.debhelper.log
tpm2-tss-1.4.0/debian/libsapi-dev.substvars
tpm2-tss-1.4.0/debian/libsapi-dev/
tpm2-tss-1.4.0/debian/libsapi-utils.debhelper.log
tpm2-tss-1.4.0/debian/libsapi-utils.substvars
tpm2-tss-1.4.0/debian/libsapi-utils/
tpm2-tss-1.4.0/debian/libsapi0.debhelper.log
tpm2-tss-1.4.0/debian/libsapi0.substvars
tpm2-tss-1.4.0/debian/libsapi0/
tpm2-tss-1.4.0/debian/tmp/
tpm2-tss-1.4.0/depcomp
tpm2-tss-1.4.0/include/
tpm2-tss-1.4.0/install-sh
tpm2-tss-1.4.0/lib/
tpm2-tss-1.4.0/libtool
tpm2-tss-1.4.0/ltmain.sh
tpm2-tss-1.4.0/m4/
tpm2-tss-1.4.0/man/
tpm2-tss-1.4.0/missing
tpm2-tss-1.4.0/script/
tpm2-tss-1.4.0/src_vars.mk
tpm2-tss-1.4.0/sysapi/
tpm2-tss-1.4.0/tcti/
tpm2-tss-1.4.0/test-driver
tpm2-tss-1.4.0/test-suite.log
tpm2-tss-1.4.0/test/
libsapi-dev-dbgsym_1.4.0-1_amd64.ddeb
libsapi-dev_1.4.0-1_amd64.deb
libsapi0-dbgsym_1.4.0-1_amd64.ddeb
libsapi0_1.4.0-1_amd64.deb
tpm2-tss_1.4.0-1.debian.tar.xz
tpm2-tss_1.4.0-1.diff.gz
tpm2-tss_1.4.0-1.dsc
tpm2-tss_1.4.0-1_amd64.build
tpm2-tss_1.4.0-1_amd64.buildinfo
tpm2-tss_1.4.0-1_amd64.changes
tpm2-tss-release-deb*.tar.gz
*.sw?
build*.mk
