#!/usr/bin/make -f

DB2MAN = /usr/share/sgml/docbook/stylesheet/xsl/docbook-xsl/manpages/docbook.xsl
XP     = xsltproc -''-nonet -''-param man.charmap.use.subset "0"

%:
	dh $@

override_dh_autoreconf_clean:
	rm -f compile depcomp ltmain.sh config.sub missing config.guess \
		install-sh m4/ltoptions.m4 m4/ltversion.m4 m4/libtool.m4 \
		m4/ltsugar.m4 m4/lt\~obsolete.m4
	dh_autoreconf_clean

override_dh_install:
	find debian/tmp \( -name '*.la' -o -name '*.a' \) -delete
	mkdir -p debian/tmp/lib/udev/rules.d
	cp debian/dist/tpm-udev.rules debian/tmp/lib/udev/rules.d/99-tpm-udev.rules
	dh_install
	dh_missing --fail-missing
